* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --cor-primaria : rgb(20, 92, 2);
    --fonte-principal: 'roboto' , sans-serif;

}

a { 
    text-decoration: none;
}
    

html{ 
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
    
}

.cabecalho {
    width: 100%;
    height: 55px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.logo {
    font-family: var(--fonte-principal);
    color: whitesmoke;
    padding-left: 45px;
    
}

.logo a {
    color: whitesmoke;
    font-family: var(--fonte-principal);
    transition: transform 0.3s ease;
    display: inline-block;
    font-size: 30px;
    font-weight: 600;

}

.logo a:hover {
    transform: scale(1.06);
}

.a {
    color: whitesmoke;
}

.a:hover {
    color: var(--cor-primaria);
    text-shadow: 0 0 7px var(--cor-primaria);
}

.g {
    color: whitesmoke;
}

.g:hover {
    color: var(--cor-primaria);
    text-shadow: 0 0 7px var(--cor-primaria);
}

.r {
    color: whitesmoke;
}

.r:hover {
    color: var(--cor-primaria);
    text-shadow: 0 0 7px var(--cor-primaria);
}

.o {
    color: whitesmoke;
}

.o:hover {
    color: var(--cor-primaria);
    text-shadow: 0 0 7px var(--cor-primaria);
}

.v {
    color: whitesmoke;
}

.v:hover {
    color: var(--cor-primaria);
    text-shadow: 0 0 7px var(--cor-primaria);
}

.n {
    color: whitesmoke;
}

.n:hover {
    color: var(--cor-primaria);
    text-shadow: 0 0 7px var(--cor-primaria);
}

.t {
    color: whitesmoke;
}

.t:hover {
    color: var(--cor-primaria);
    text-shadow: 0 0 7px var(--cor-primaria);
}

.menu {
    font-family: var(--fonte-principal);
    color: whitesmoke;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu a {
    color: whitesmoke;
    font-family: var(--fonte-principal);
    transition: transform 0.3s ease;
    display: inline-block;
    text-shadow: 0 8px 19px rgba(0, 0, 0, 0.3);
}

.menu a:hover{
    transform: translateY(-4px);
    transform: scale(0.97);
    color: rgb(129, 251, 129);

}

.agende {
    background-color: var(--cor-primaria);
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 100px;
    font-family: var(--fonte-principal);
    border-radius: 4px;
    height: 30px;
    font-size: 17px;
    color: whitesmoke;
    


}

button:hover {
    transform: translateY(-4px);
    transform: scale(0.97);
    color: var(--cor-primaria);
    background-color: whitesmoke;
    

}

#container {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/fundo_destaque.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.destaque {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 35px;

}

h4 {
    color: #008000;
    font-family: var(--fonte-principal);
    font-size: 25px;
}

h1{
    font-size: 80px;
    font-family: var(--fonte-principal);
}

.agro {
    color: var(--cor-primaria);
}

.bdestaque {
    width: 250px;
    height: 60px;
    background-color: var(--cor-primaria);
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-family: var(--fonte-principal);
    border-radius: 10px;
    font-size: 18px;
    margin-top: 10px;
    color: whitesmoke;

}

h5{
    font-family: var(--fonte-principal);
    color: whitesmoke;
    font-size: 14px;
    padding-left: 5px;
    padding-top: 5px;
}

#funcoes {
    width: 100%;
    height: 100vh;
}

.funcoes-texto {
    width: 100%;
    height: 33%;
    background-color: whitesmoke;
    border-radius: 0 0 25px 25px;
    font-family: var(--fonte-principal);
    padding-left: 40px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;


    

}

.funcoes-texto h1 {
    font-family: var(--fonte-principal);
    font-size: 50px;
    padding-right: 10px;

}

.funcoes-texto h3 {
    color: black;
    font-family: var(--fonte-principal);
    padding-right: 10px;

}

.funcoes-simb {
    width: 50%;
    height: 100%;

}

 .funcoes-texto figure {
    width: 50%;
    height: 100%;
    margin-left: 250px;

}

.funcoes-texto figure img {
    width: 100%;
    height: 100%;

}

.card-container {
    width: 100%;
    height: 475px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    
}


.card-funcoes {
    width: 25%;
    height: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: whitesmoke;
    transition: transform 0.3s ease;
}

.card-funcoes:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.card-funcoes figure {
    width: 125px;
    height: 110px;
    border-right: 1px solid black;
}

.card-funcoes figure img {
    width: 100%;
    height: 100%;
}

.card-funcoes h3 {
    padding-left: 10px;
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
}

.card-funcoes p {
    padding-left: 10px;
    font-family: var(--fonte-principal);
}

@media (min-width: 600): {
    .card-container {
        flex-direction: row; 
        
    }

}